---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import HomeImage from "../assets/home.jpg";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <h1>Hi, I'm Behrad.</h1>
      <p>
        Welcome to my personal blog. I write about my work, ideas, experiments,
        and the things I learn along the way. You can read more about me on the <a
          href="/about">/about</a
        > page, or explore all posts at
        <a href="/blog">/blog</a>.
        <!-- <img
          src={HomeImage.src}
          alt="About me"
          style="margin-top: 1rem; display: block;"
        /> -->
        <Image
          style="margin-top: 1rem; display: block"
          src={HomeImage}
          alt="About me"
          loading="eager"
          fetchpriority="high"
        />
      </p>
    </main>
    <Footer />
  </body>
</html>
