---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Behrad Saraiyeh. All rights reserved.
  <div class="social-links">
    <!-- GitHub -->
    <a href="https://github.com/Behradsa" target="_blank">
      <span class="sr-only">Go to Behrad's GitHub repo</span>
      <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
    <!-- LinkedIn -->
    <a
      href="https://linkedin.com/in/behrad-saraiyeh"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Visit Behrad's LinkedIn profile</span>
      <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
        <path
          fill="currentColor"
          d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2ZM8.34 17.34H6V9.66h2.34v7.68ZM7.17 8.66A1.34 1.34 0 1 1 7.18 6a1.34 1.34 0 0 1-.01 2.66ZM18 17.34h-2.33v-3.6c0-.86-.02-1.98-1.21-1.98-1.21 0-1.4.94-1.4 1.92v3.66h-2.33V9.66h2.24v1.05h.03c.31-.58 1.07-1.2 2.21-1.2 2.37 0 2.8 1.56 2.8 3.58v4.25Z"
        ></path>
      </svg>
    </a>
    <!-- Email -->
    <a href="mailto:b.saraiyeh@gmail.com">
      <span class="sr-only">Email Behrad</span>
      <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
        <path
          fill="currentColor"
          d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Zm0 4-8 5-8-5V6l8 5 8-5v2Z"
        ></path>
      </svg>
    </a>
    <!-- Phone -->
    <!-- <a href="tel:+1234">
      <span class="sr-only">Call Behrad</span>
      <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
        <path
          fill="currentColor"
          d="M6.62 10.79a15.05 15.05 0 0 0 6.59 6.59l2.2-2.2a1 1 0 0 1 1.01-.24c1.12.37 2.33.57 3.58.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1c-9.39 0-17-7.61-17-17a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.46.57 3.58a1 1 0 0 1-.24 1.01l-2.2 2.2z"
        ></path>
      </svg>
    </a> -->
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
